.body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.polygon {
    background-image: url(../img/pattern.png);
    background-color: rgb(151, 157, 255);
    height: 180px;
}

.title {
    font-size: 50px;
}

.normaltext1 {
    font-size: 15px;
}

.normaltext2 {
    font-size: 13px;
}

.subtitle1 {
    font-size: 17px;
    color: gray;
}

.subtitle2 {
    font-size: 17;
    color: skyblue;
}

.logo {
    width: 200px;

}

.emphatized {
    background-color: yellow;
}

.riga1 {
    color: white;
    background-color: rgb(0, 162, 255);
}

.riga2 {
    background-color: rgb(161, 211, 255);
}

.monitor {
    background-image: url(../img/monitor.jpg);
    width: 310px;
    color: white;
}

.dataanalytics {
    background-image: url(../img/graph.jpg);
    width: 310px;
    color: white;
}